<div class="tiles_container">
<div class="image-container">
  <img src="{{vendorImage}}">
  {{#if vendor.cachedAverageRating}}
    <div class="rate">{{vendor.cachedAverageRating}}</div>
  {{/if}}
  
</div> 
<div class="content">
  <div class="header">{{vendor.name}}</div>
  <div class="location">
    <i class="lavo-icon-map-marker icon"></i> {{vendor.areaEmirate}}
  </div>
</div>
</div>
